.index{
    background-image: url(".././images/solarSystem.jpg");
}

.sun{
    background-image: url(".././images/solarSystem.jpg");
}

.mercury{
    background-image: url(".././images/mercury.jpg");
}

.venus{
    background-image: url(".././images/venus.jpg");
}

.earth{
    background-image: url(".././images/earth.jpg");
}

.mars{
    background-image: url(".././images/mars.jpg");
}

.jupiter{
    background-image: url(".././images/jupiter.jpg");
}

.saturn{
    background-image: url(".././images/saturn.jpg");
}

.uranus{
    background-image: url(".././images/uranus.jpg");
}

.neptune{
    background-image: url(".././images/neptune.jpg");
}

.pluto{
    background-image: url(".././images/pluto.jpg");
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(170, 0, 0);
}
nav {
    width: 2%;
    margin: 5px;

}

div{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    color: rgb(170, 0, 0);
}

footer{
    color: rgb(170, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: italic;
    text-align:right;
}