.index{
    background-image: url(".././images/solarSystem.jpg");
}

.sun{
    background-image: url(".././images/sun.jpg");
}

.mercury{
    background-image: url(".././images/mercury.jpg");
}

.venus{
    background-image: url(".././images/venus.jpg");
}

.earth{
    background-image: url(".././images/earth.jpg");
}

.mars{
    background-image: url(".././images/mars.jpg");
}

.jupiter{
    background-image: url(".././images/jupiter.jpg");
}

.saturn{
    background-image: url(".././images/saturn.jpg");
}

.uranus{
    background-image: url(".././images/uranus.jpg");
}

.neptune{
    background-image: url(".././images/neptune.jpg");
}

.pluto{
    background-image: url(".././images/pluto.jpg");
}

.contact {
    background-image: url(".././images/smile.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
}

h1{
    font-family: TeleNeo, Arial, Helvetica, sans-serif;
    font-style: bold;
    text-align: center;
    font-size: xx-large;
    color: rgb(225,96,163);
}
nav {
    margin: 5px;
}
table{
    border: 2px;
    border-style: solid;
}

td{
    width: 2%;
    opacity: 0.7;
}

td:nth-child(odd):hover {
    opacity: 1;
}

td:nth-child(even):hover {
    opacity: 1;
}

div{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    color: rgb(170, 0, 0);
}

footer{
    
    color: rgb(170, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: italic;
    text-align: right;
}

.unOrderedList{
    margin: 50px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: left;
    color: rgb(0, 49, 141);
}

.dtagBrand{
    width: 10%;
    float: left;
}
.dtagBrand:hover{
    border: 6px solid rgb(225,96,163);
}

